<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
      <div class="card-body">
         <!--/*@thymesVar id="student" type="com.zem.diveschool.persistence.model.Location"*/-->
         <p class="mb-0"><strong class="pr-1">Street </strong><th th:text="${location.streetAddress}"></th></p>
         <p class="mb-0"><strong class="pr-1">Postal Code </strong><th th:text="${location.postalCode}"></th></p>
         <p class="mb-0"><strong class="pr-1">City </strong><th th:text="${location.city}"></th></p>
         <p class="mb-0"><strong class="pr-1">State/Province </strong><th th:text="${location.stateProvince}"></th></p>
         <p class="mb-0"><strong class="pr-1">Country </strong><th th:text="${location.country}"></th></p>
      </div>
</body>
</html>
