<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'students')}">
<head>
    <meta charset="UTF-8"/>
    <title>List of Students</title>
</head>
<body>
<!--/*@thymesVar id="student" type="com.zem.diveschool.persistence.model.Student"*/-->
<h2>Students</h2>
<h3><a href="#" th:href="@{'/students/new'}">New</a></h3>

<table id="students" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Language</th>
        <th>Photo</th>
        <th>Show</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName + ' ' + student.middleName + ' ' + student.lastName}"></td>
        <td th:text="${student.birthDate}"></td>
        <td th:text="${student.gender}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.phoneNumber}"></td>
        <td th:text="${student.language}"></td>
        <td th:field="${student.photo} == null ? _ : @{'data:image/png;base64,'+${student.photo}}"
            width="120" height="120"></td>
        <td><a href="#" th:href="@{'/students/' + ${student.id} + '/show'}">Show</a></td>
        <td><a href="#" th:href="@{'/students/' + ${student.id} + '/update'}">Update</a></td>
        <td><a href="#" th:href="@{'/students/' + ${student.id} + '/delete'}">Delete</a></td>
    </tr>
    </tbody>
</table>
<hr>
<a th:href="@{/}"> Back Homepage</a>
</body>
</html>