<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'students')}">
<head>
    <meta charset="UTF-8"/>
    <title>Student Form</title>
</head>
<body>
   <div class="container-fluid">
   <!--/*@thymesVar id="student" type="com.zem.diveschool.persistence.model.Student"*/-->
      <h2>Student Form</h2>

      <a href="#" th:href="@{'/students/' + ${student.id} + '/photo'}"
         th:with="text=${student['new']} ? 'Add Photo' : 'Update Photo'"
         th:text="${text}">Change Photo</a>

      <form  th:object="${student}" th:action="@{/students/}" method="post">
         <input type="hidden" th:field="*{id}"/>
         <div class="card-body">
            <p class="mb-0"><strong class="pr-1">First Name </strong>
               <input type="text" class="form-control" th:field="*{firstName}"/>
            </p>
            <p class="mb-0"><strong class="pr-1">Middle Name </strong>
               <input type="text" class="form-control" th:field="*{middleName}"/>
            </p>
            <p class="mb-0"><strong class="pr-1">Last Name </strong>
               <input type="text" class="form-control" th:field="*{lastName}"/>
            </p>
            <p class="mb-0"><strong class="pr-1">Birthdate </strong>
               <input type="text" class="form-control" th:field="*{birthDate}"/>
            </p>
            <label>Gender </label>
            <select class="form-control" th:field="*{gender}">
               <option th:each="genderValue : ${T(com.zem.diveschool.persistence.model.Gender).values()}"
                       th:value="${genderValue.name()}"
                       th:text="${genderValue.name()}"
               >val</option>
            </select>
            <p class="mb-0"><strong class="pr-1">Email </strong>
               <input type="text" class="form-control" th:field="*{email}"/>
            </p>
            <p class="mb-0"><strong class="pr-1">Phone </strong>
               <input type="text" class="form-control" th:field="*{phoneNumber}"/>
            </p>
            <label>Language </label>
            <select class="form-control" th:field="*{language}">
               <option th:each="languageValue : ${T(com.zem.diveschool.persistence.model.Language).values()}"
                       th:value="${languageValue.name()}"
                       th:text="${languageValue.name()}"
               >val</option>
            </select>

            <h3>Home Address</h3>
            <div th:object="${student.homeAddress}">
               <p class="mb-0"><strong class="pr-1">Street </strong>
                  <input type="text" class="form-control" th:field="*{streetAddress}"/>
               </p>
               <p class="mb-0"><strong class="pr-1">Postal Code </strong>
                  <input type="text" class="form-control" th:field="*{postalCode}"/>
               </p>
               <p class="mb-0"><strong class="pr-1">City </strong>
                  <input type="text" class="form-control" th:field="*{city}"/>
               </p>
               <p class="mb-0"><strong class="pr-1">State/Province </strong>
                  <input type="text" class="form-control" th:field="*{stateProvince}"/>
               </p>
                <label>Country </label>
               <select class="form-control" th:field="*{country}">
                  <option th:each="countryValue : ${T(com.zem.diveschool.persistence.model.Country).values()}"
                          th:value="${countryValue.name()}"
                          th:text="${countryValue.name()}"
                  >val</option>
               </select>
            </div>

         </div>

         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button
                       th:with="text=${student['new']} ? 'Add Student' : 'Update Student'"
                       class="btn btn-default" type="submit" th:text="${text}">Add Student
               </button>
            </div>

<!--     </div>button type="submit" class="btn btn-primary">Add/Update Student</button>   -->

      </form>

      <hr>
      <a th:href="@{/students}"> Back to Students List</a>
   </div>
</body>
</html>