<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'locations')}">
<head>
    <meta charset="UTF-8"/>
    <title>List of Locations</title>
</head>
<body>
<!--/*@thymesVar id="location" type="com.zem.diveschool.persistence.model.Location"*/-->
<h2>Instructors</h2>

<table id="locations" class="table table-striped">
    <thead>
    <tr>
        <th>Street</th>
        <th>Postal Code</th>
        <th>City</th>
        <th>State/Province</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="location : ${locations}">
        <td th:text="${location.streetAddress}"></td>
        <td th:text="${location.postalCode}"></td>
        <td th:text="${location.city}"></td>
        <td th:text="${location.stateProvince}"></td>
        <td th:text="${location.country}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>