<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>ZEM Diving School Index</title>
</head>
<body>
    <h2 th:text="#{welcome}">Welcome to ZEM Diving School</h2>

    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../static/resources/images/diver.png" th:src="@{/resources/images/diver.png}"/>
        </div>
    </div>

</body>
</html>