<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'cards')}">
<head>
    <meta charset="UTF-8"/>
    <title>Card Form</title>
</head>
<body>
   <div class="container-fluid">
   <!--/*@thymesVar id="student" type="com.zem.diveschool.persistence.model.Student"*/-->
      <h2>Card Form</h2>
         <form th:object="${card}"
               th:action="@{'/students/' + ${student.id} + '/cards/' + ${card.id} + '/update'}"
               method="post">
             <input type="hidden" th:field="${card.id}"/>
         <a>Country </a>
         <div class="card-body">
<!--            <p class="mb-0"><strong class="pr-1">STUDENT</strong>
               <input type="text" class="form-control" th:field="${student.lastName}"/>
            </p>  -->
            <p class="mb-0"><strong class="pr-1">Course </strong>
               <input type="text" class="form-control" th:field="${card?.course}"/>
            </p>
            <p class="mb-0"><strong class="pr-1">Student Name </strong>
               <input type="text" class="form-control" th:field="${card|?.studentName}"/>
            </p>
            <p class="mb-0"><strong class="pr-1">Start date </strong>
               <input type="text" class="form-control" th:text="${card?.startDate}"/>
            </p>
            <p class="mb-0"><strong class="pr-1">End date </strong>
                <input type="text" class="form-control" th:text="${card?.endDate}"/>
            </p>
            <label>Country </label>
            <select class="form-control" th:field="${card.country}">
               <option th:each="countryValue : ${T(com.zem.diveschool.persistence.model.Country).values()}"
                       th:value="${countryValue.name()}"
                       th:text="${countryValue.name()}"
               >val</option>
            </select>
            <p class="mb-0"><strong class="pr-1">Instructor Name </strong>
               <input type="text" class="form-control" th:field="${card.instructorName}"/>
            </p>
         </div>

         <button
                 th:with="text=${card['new']} ? 'Add Card' : 'Update Card'"
                 class="btn btn-default" type="submit" th:text="${text}">Add Card
         </button>

      </form>

      <hr>
<!--      <a th:href="@{/cards}"> Back to Cards List</a>  -->
   </div>
</body>
</html>